<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true">
    <title>XX办公系统</title>
    <link rel="stylesheet" href="/assets/mobile/css/frozenui.css">
    <link rel="stylesheet" href="/assets/mobile/css/style.css?r=2">

</head>

<body ontouchstart>
<section class="ui-container">

    <div class="index-wrap">
        <div class="header">
            <h1>XX办公系统</h1>
            <h2>移动办公平台</h2>
        </div>
        <section id="list" style="height:500px;">
            <!--<input type="button" value="test" onclick="alert(1);" />-->
            <table class="demo-item ui-table ui-border">
                <tbody class="demo-block">
                <tr class="">
                    <td class="" data-href="/mobile/todolist">
                        <div>
                            <div class="icon-cell icon"></div>
                            <div class="tit">待办文档</div>

                        </div>
                    </td>

                    <td class="" data-href="/mobile/issuelist">
                        <div>
                            <div class="icon-actionsheet icon"></div>
                            <div class="tit">公司发文</div>

                        </div>
                    </td>

                    <td class="" data-href="#">
                        <div>
                            <div class="icon-more icon"></div>
                            <div class="tit">---</div>

                        </div>
                    </td>
                </tr>

                <tr class="">
                    <td class="" data-href="#">
                        <div>
                            <div class="icon-more icon"></div>
                            <div class="tit">---</div>

                        </div>
                    </td>

                    <td class="" data-href="#">
                        <div>
                            <div class="icon-more icon"></div>
                            <div class="tit">More</div>

                        </div>
                    </td>

                    <td data-href="#" onclick="alert('您点击了“设置”');">
                        <div>
                            <div class="icon-setting icon"></div>
                            <div class="tit">设置</div>

                        </div>
                    </td>
                </tr>


                </tbody>
            </table>
        </section>
        <div class="footer">
            <div class="ui-txt-muted">版权所有 @ 2022 首钢水城钢铁集团有限公司</div>
        </div>
    </div>

</section>

<script src="/assets/mobile/js/lib/zepto.min.js"></script>
<script src="/assets/mobile/js/index.js"></script>

</body>
</html>
