<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true">
    <title>XX办公系统</title>

    <link rel="stylesheet" href="/assets/mobile/css/frozenui.css">
    <link rel="stylesheet" href="/assets/mobile/style.css">

    <script type="text/javascript" language="javascript" src="/moboffice.js" id="mob_js_main"></script>

</head>

<body ontouchstart>
<section class="ui-container">

    <section id="list">

        <div class="demo-item">
            <div class="demo-block">
                <section class="ui-panel ui-panel-center ui-border-tb" style="height:55px;">
                    <i class="ui-icon-return" style="display:inline-block;position: relative;">
                        <image style="border:0;position:absolute;top:50%;margin-top: -40px; width:24px; height:24px;margin-left:10px;" src="/assets/mobile/img/back32.png" onclick="window.history.back();" /></i>
                    <h2 style="display:inline-block;width:80%;text-align:center;margin-left:30px;font-weight:bold;" >公司发文</h2>
                </section>
                    <#if (docStatus == '起草') || (docStatus == '核稿') >
                        <div class="ui-tooltips ui-tooltips-warn">
                            <div class="ui-tooltips-cnt ui-border-b">
                                <i></i>演示程序处于“${docStatus}”环节，请在PC端操作。<a class="ui-icon-close" onclick="this.parentNode.parentNode.style.display='none';"></a>
                            </div>
                        </div>
                   </#if>
            </div>
        </div>
        <!-- 单行小图 -->
        <div class="demo-item">
            <p class="demo-desc">公司发文</p>
            <div class="demo-block">
                <#if docStatus == '发文'>
                        <ul class="ui-list ui-list-single ui-list-link ui-border-tb">
                            <li>
                                <div class="ui-list-thumb-s ui-border-t">
                                    <span style="background-image:url(/assets/mobile/img/pdf.png)"></span>
                                </div>
                                <div class="ui-list-info">
                                    <h4 class="ui-nowrap" onclick="MobAPP.openWindow('/mobile/opendoc?id=${doc.id}&type=pdf&mode=readonly&userName=${userName}');" >${doc.subject!""}</h4>
                                </div>
                            </li>
                        </ul>
                    <#else>
                        <ul class="ui-list ui-list-single ui-border-tb">
                            <li>
                                <div class="ui-list-thumb-s ui-border-t">

                                </div>
                                <div class="ui-list-info">
                                    <h4 >暂无公司发文</h4>
                                </div>
                            </li>
                        </ul>
            </#if>
            </div>
        </div>
    </section>
</section>
</body>
</html>
